{
    "url": "<URL base project>",
    "project": {
        "name": "akpa",
        "token":"<personal token key>",
        "csvFilename":"akpa.csv",
        "dateformat":"MM/dd/yyyy",
        "queries":{
            "wip":"My queries/akpa_wip_items",
            "done":"My queries/akpa_done_items"
        },
        "workflow": [
            "Ready",
            "To Groom",
            "Sprint Backlog",
            "In Development",
            "In Review",
            "Pending Deployment",
            "Done"
        ],
        "properties":[
            "Status",
            "Tags",
            "Effort"
        ]
    }
}